<div class="mside-bar-header">
  <div class="mheader-name">
    ルーム名：<%= @room.name %>
  </div>
  <div class="mcreate-room">
    <%# <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="mrooms">
  <% unless @room.image.attached? %>
  <%= image_tag "3217149_s.jpg", class: "messa-img"%>
  <% else %>
  <%= image_tag @room.image, class: "messa-img"%>
  <% end %>
  <%# <% current_user.rooms.each do |room| %>
    <%# <div class="mroom">
      <div class="mroom-name">
        <%# <%= link_to room.name, room_messages_path(room) %> 
      <%# </div>
    </div>
  <% end %> 
</div>