<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to 'Each Talk', root_path, class: "ntitle" %>
  </header>

  <%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
    

  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        ユーザー情報登録
      </h1>
    </div>

  <%= render "devise/shared/error_messages", resource: @user %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">名前</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :name , class:"input-default", placeholder:"名前を記入ください(ニックネームOK)", maxlength:"40", autofocus: true%>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">自己紹介</label>
        <span class="indispensable">必須</span>
      </div>
       <%= f.text_area :introduction, class:"items-text", placeholder:"出品したroom詳細に記載される開催者の自己紹介（100文字以内）", rows:"3", maxlength:"100"%>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Email</label>
        <span class="indispensable">必須</span>
      </div>
       <%= f.email_field :email, class:"input-default", placeholder:"", autocomplete: "email" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Password</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <span class="indispensable">必須</span>
      </div>
       <%= f.password_field :password, class:"input-default", placeholder:"", autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">Password_Confirmation</label>
        <span class="indispensable">必須</span>
      </div>
       <%= f.password_field :password_confirmation, class:"input-default", placeholder:"", autocomplete: "new-password" %>
    </div>

    <div class="login-btn">
      <%= f.submit "Next" ,class:"login-red-btn"%>
    </div>
    <div class="log-btn-contents">
      <%=link_to 'ログイン', new_user_session_path, class:"log-btn" %>
    </div>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">Each Talk利用規約</a></li>
    </ul>
    <p class="inc">
      ©︎Each Talk,Inc.
    </p>
  </footer>
</div>

