<div class="AccountPage">
  <div class="AccountPage__title">
    <h1>マイページ</h1>
  </div><br>
  <div class="Card__title">
    <h2>カード情報</h2>
  </div>
  <div class="Card_info">
    【カード番号】
    <br>
    <%= "**** **** **** " + @card[:last4] %>
    <br>
    【有効期限】
    <br>
    <%= @card[:exp_month] %>
    /
    <%= @card[:exp_year] %>
  </div>
  <div class="Account__info">
    <h2>ユーザー情報</h2>
  </div>
  <div class="AccountPage__form">
    <%= form_for(current_user) do |f| %>
      <div class="FormField">
        <div class="FormField__name">
          <%= f.label :name %>
        </div>
        <div class="FormField__name">
          <%= f.text_field :name, autofocus: true %>
        </div>
      </div>
      <div class="FormField__introduction">
          <%= f.label :introduction %>
        </div>
        <div class="FormField__name">
          <%= f.text_field :introduction %>
        </div>
      </div>
      <div class="FormField">
        <div class="FormField__email">
          <%= f.label :email %>
        </div>
        <div class="FormField__email">
          <%= f.email_field :email %>
        </div>
        <br>
      </div>
      <%= f.submit "更新する" %>
    <% end %>
    <br>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <br>
    <%= link_to "トップページへ戻る", root_path %>
  </div>
  <div>　　　</div>
</div>
<div class='item-contents'>
  <div class="subtitle" >
    購入したROOM
  </div>
  <ul class='item-lists'>
    <% @room.each do |room| %>
      <li class='list'>
        <%= link_to troom_messages_path(room.id), method: :get do %>

        <% if room.image.attached? %>
        <div class='item-img-content'>
          <%= image_tag room.image, class: "item-img" %>
            <h3 class='room-name'>
              Room名：<%= room.name %>
            </h3>
        </div>
        <% else %>
        <div class='item-img-content'>
          <%= image_tag "3217149_s.jpg", class: "item-img" %>
            <h3 class='room-name'>
              Room名：<%= room.name %>
            </h3>
        </div>
        <% end %>

        <div class='item-info'>
          <h3 class='item-name'>
            紹介：<%= room.rexplain %>
          </h3>
          <div class='item-price'>
            <span><%= room.dayotw.name %>　<%= room.rtime.name %>　<%= room.htime.name %><%= room.mtime.name %></span>
            <span><%= room.price.to_s(:delimited) %>円</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div class='sroom-contents'>
  <div class="subtitle" >
    出品したROOM
  </div>
  <ul class='sroom-lists'>
    <% @eroom.each do |room| %>
      <li class='slist'>
        <%= link_to troom_messages_path(room.id), method: :get do %>

        <% if room.image.attached? %>
        <div class='sroom-img-content'>
          <%= image_tag room.image, class: "sroom-img" %>
            <h3 class='room-name'>
              Room名：<%= room.name %>
            </h3>
        </div>
        <% else %>
        <div class='sroom-img-content'>
          <%= image_tag "3217149_s.jpg", class: "sroom-img" %>
            <h3 class='room-name'>
              Room名：<%= room.name %>
            </h3>
        </div>
        <% end %>

        <div class='sroom-info'>
          <h3 class='sroom-name'>
            紹介：<%= room.rexplain %>
          </h3>
          <div class='sroom-price'>
            <span><%= room.dayotw.name %>　<%= room.rtime.name %>　<%= room.htime.name %><%= room.mtime.name %></span>
            <span><%= room.price.to_s(:delimited) %>円</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>