<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to 'Each Talk', root_path, class: "ntitle" %>
  </header>

  <div class="registration-main">
    <div class='form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>
          マイページ
        </h1>
      </div>

      <div class="Card__title">
        カード情報
      </div>
      <div class="Card_info">
        【カード番号】
        <br>
        <%= "**** **** **** " + @card[:last4] %>
        <br>
        【有効期限】
        <br>
        　　<%= @card[:exp_month] %>
        /
        <%= @card[:exp_year] %>
      </div>
      <div class="Account__info">
        ユーザー情報
      </div>
      <div class="AccountPage__form">
        <%= form_for(current_user) do |f| %>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">名前</label>
            </div>
            <%= f.text_field :name , class:"input-default"%>
          </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">自己紹介</label>
            </div>
            <%= f.text_area :introduction, class:"items-text", rows:"3" %>
          </div>

          <div class="form-group">
            <div class='form-text-wrap'>
              <label class="form-text">Email</label>
            </div>
            <%= f.email_field :email, class:"input-default" %>
          </div>

          <div class="login-btn">
            <%= f.submit "更新する", class:"login-red-btn"%>
          </div>
        <% end %>

        <div class="log-btn-contents">
          <%=link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"log-btn" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='my-room'>
  <div class='sitem-contents'>
    <div class="subtitle" >
      購入Room
    </div>
    <ul class='room-lists'>
      <% @room.each do |room| %>
        <li class='list'>
          <%= link_to room_troom_messages_path(room.id, room.troom.id), method: :get do %>

          <% if room.image.attached? %>
          <div class='item-img-content'>
            <%= image_tag room.image, class: "item-img" %>
              <h3 class='room-name'>
                Room名：<%= room.name %>
              </h3>
          </div>
          <% else %>
          <div class='item-img-content'>
            <%= image_tag "3217149_s.jpg", class: "item-img" %>
              <h3 class='room-name'>
                Room名：<%= room.name %>
              </h3>
          </div>
          <% end %>

          <div class='item-info'>
            <%# <h3 class='item-name'>
              紹介：<%= room.rexplain %>
            <%# </h3> %>
            <div class='item-price'>
              <span><%= room.dayotw.name %>　<%= room.rtime.name %>　<%= room.htime.name %><%= room.mtime.name %></span>
              <span><%= room.price.to_s(:delimited) %>円</span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='sroom-contents'>
    <div class="subtitle" >
      出品Room
    </div>
    <ul class='sroom-lists'>
      <% @eroom.each do |room| %>
        <% if room.troom == nil %>
        <li class='slist'>
          <%= link_to  do %>

          <% if room.image.attached? %>
          <div class='sroom-img-content'>
            <%= image_tag room.image, class: "sroom-img" %>
              <h3 class='room-name'>
                Room名：<%= room.name %>
              </h3>
          </div>
          <% else %>
          <div class='sroom-img-content'>
            <%= image_tag "3217149_s.jpg", class: "sroom-img" %>
              <h3 class='room-name'>
                Room名：<%= room.name %>
              </h3>
          </div>
          <% end %>

          <div class='sroom-info'>
            <%# <h3 class='sroom-name'>
              紹介：<%= room.rexplain %>
            <%# </h3> %>
            <div class='sroom-price'>
              <span><%= room.dayotw.name %>　<%= room.rtime.name %>　<%= room.htime.name %><%= room.mtime.name %></span>
              <span><%= room.price.to_s(:delimited) %>円</span>
            </div>
          </div>
          <% end %>
        </li>
        <% else %>
        <li class='slist'>
          <%= link_to room_troom_messages_path(room.id, room.troom.id), method: :get do %>

          <% if room.image.attached? %>
          <div class='sroom-img-content'>
            <%= image_tag room.image, class: "sroom-img" %>
              <h3 class='room-name'>
                Room名：<%= room.name %>
              </h3>
          </div>
          <% else %>
          <div class='sroom-img-content'>
            <%= image_tag "3217149_s.jpg", class: "sroom-img" %>
              <h3 class='room-name'>
                Room名：<%= room.name %>
              </h3>
          </div>
          <% end %>

          <div class='sroom-info'>
            <%# <h3 class='sroom-name'>
              紹介：<%= room.rexplain %>
            <%# </h3> %>
            <div class='sroom-price'>
              <span><%= room.dayotw.name %>　<%= room.rtime.name %>　<%= room.htime.name %><%= room.mtime.name %></span>
              <span><%= room.price.to_s(:delimited) %>円</span>
            </div>
          </div>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>