<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="site-header" >
  <div class="heading">
    <h1><%= link_to 'Each Talk', root_path, class: "title" %></h1>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
      <li><%= link_to 'room作成', new_room_path, class: "make-room" %></li>
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, user_path(current_user), class: "user-nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>  
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>