<div class='in-header'><%= render "shared/header" %></div>
<div class='main'>

  <div class='top-main'>
    <div class='top-left'>
      
    </div>
    <div class='top-right'>
      <h2 class='m-content'>Welcome to Each Talk</h2>
      <p class='service-explain'>Each Talkはだれでもどんな内容でも話を聞いてもらえる</p>
      <p class='service-explain'>話を聞きたい人と話を聞いて欲しい人をつなぐマッチングアプリです</p>
    </div>
  </div>

  <%# room一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップ</h2>
    <div class="subtitle" >
      新規Room
    </div>
    <div class='search-bar-contents'>
      <form class="search-form" action="#">
        <input class='input-box' placeholder='例：ユーザーから探す'>
        <button class="search-button">
          <%= image_tag "search.png", class:"search-icon" %>
        </button>
      </form>
    </div>
    <ul class='item-lists'>

      <% @room.each do |room| %>
        <li class='list'>
          <%= link_to room_path(room.id) do %>
          <% if room.image.attached? %>
          <div class='item-img-content'>
            <%= image_tag room.image, class: "item-img" %>
              <h3 class='room-name'>
                Room名：<%= room.name %>
              </h3>
            <% if room.room_order != nil %> 
              <div class='sold-out'>
                <span>Reserved!!</span>
              </div>
            <% end %>

          </div>
          <% else %>
          <div class='item-img-content'>
            <%= image_tag "3217149_s.jpg", class: "item-img" %>
              <h3 class='room-name'>
                Room名：<%= room.name %>
              </h3>
            <% if room.room_order != nil %> 
              <div class='sold-out'>
                <span>Reserved!!</span>
              </div>
            <% end %>

          </div>
          <% end %>
          <div class='item-info'>
            <%# <h3 class='item-name'>
              紹介：<%= room.rexplain %>
            <%# </h3> %> 
            <div class='item-price'>
              <span><%= room.dayotw.name %>　<%= room.rtime.name %>　<%= room.htime.name %><%= room.mtime.name %></span>
              <span><%= room.price.to_s(:delimited) %>円</span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      
      <% if @room.blank? %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <%# <h3 class='item-name'>
              roomを作ってね！
            </h3> %>
            <div class='item-price'>
              <span>平日　40分　19時30分　500円</span>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# /room一覧 %>


  
</div>

<%= render "shared/footer" %>