<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      Room名：<%= @room.name %>
    </h2>
    <% if @room.image.attached? %>
    <div class="item-img-content">
      <%= image_tag @room.image ,class:"item-box-img" %>

      <% if @room.room_order != nil %>
      <div class="sold-out">
        <span>Reserved!!</span>
      </div>
      <% end %>
      
    </div>
    <% else %>
    <div class='item-img-content'>
      <%= image_tag "3217149_s.jpg", class: "item-img" %>

      <% if @room.room_order != nil %>
      <div class="sold-out">
        <span>Reserved!!</span>
      </div>
      <% end %>

    </div>
    <% end %>
    <%# <div class="item-explain-box">
      トークルームの説明：<span><%= @room.rexplain %></span>  
    <%# </div> %>
    <div class="item-price-box">
      <span class="item-price">
        <%= @room.rtime.name %>　¥<%= @room.price.to_s(:delimited) %>
      </span>
    </div>

    <% if user_signed_in? && @room.room_order == nil %>
      <% if current_user.id == @room.user_id  %>
        <%= link_to "roomの編集", edit_room_path(@room.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "roomの削除", room_path(@room.id), method: :delete, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入する", order_room_path(@room.id), method: :post, class:"item-red-btn"%>
       <% end %>
    <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">開催者</th>
          <td class="detail-value"><%= @room.user.name %></td>
        </tr>
        <tr>
          <th class="detail-item">自己紹介</th>
          <td class="detail-value"><%= @room.user.introduction %></td>
        </tr>
        <tr>
          <th class="detail-item">ルーム紹介</th>
          <td class="detail-value"><%= @room.rexplain %></td>
        </tr>
        <tr>
          <th class="detail-item">トーク可能日</th>
          <td class="detail-value"><%= @room.dayotw.name %></td>
        </tr>
        <tr>
          <th class="detail-item">トーク時間</th>
          <td class="detail-value"><%= @room.rtime.name %></td>
        </tr>
        <tr>
          <th class="detail-item">開始時間</th>
          <td class="detail-value"><%= @room.htime.name %><%= @room.mtime.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="links">
      <a href="#" class="change-item-btn">
        ＜ 前のroom
      </a>
      <a href="#" class="change-item-btn">
        後ろのroom ＞
      </a>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
