<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      Room名：<%= @room.name %>
    </h2>
    <div>　　　</div>
    <% if @room.image.attached? %>
    <div class="item-img-content">
      <%= image_tag @room.image ,class:"item-box-img" %>

      <% if @room.room_order != nil %>
      <div class="sold-out">
        <span>Reserved!!</span>
      </div>
      <% end %>
      
    </div>
    <% else %>
    <div class='item-img-content'>
      <%= image_tag "3217149_s.jpg", class: "item-img" %>

      <% if @room.room_order != nil %>
      <div class="sold-out">
        <span>Reserved!!</span>
      </div>
      <% end %>

    </div>
    <% end %>
    <div class="item-explain-box">
      トークルームの説明：<span><%= @room.rexplain %></span>  
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥<%= @room.price.to_s(:delimited) %>
      </span>
      <span class="item-postage">
         <%= @room.rtime.name %>
      </span>
    </div>

    <% if user_signed_in? && @room.room_order == nil %>
      <% if current_user.id == @room.user_id  %>
        <%= link_to "商品の編集", edit_room_path(@room.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", room_path(@room.id), method: :delete, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入画面に進む", order_room_path(@room.id), method: :post, class:"item-red-btn"%>
       <% end %>
    <% end %>

    <div>　　　</div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">開催者</th>
          <td class="detail-value"><%= @room.user.name %></td>
        </tr>
        <tr>
          <th class="detail-item">自己紹介</th>
          <td class="detail-value"><%= @room.user.introduction %></td>
        </tr>
        <tr>
          <th class="detail-item">ルーム紹介</th>
          <td class="detail-value"><%= @room.rexplain %></td>
        </tr>
        <tr>
          <th class="detail-item">トーク可能日</th>
          <td class="detail-value"><%= @room.dayotw.name %></td>
        </tr>
        <tr>
          <th class="detail-item">トーク時間</th>
          <td class="detail-value"><%= @room.rtime.name %></td>
        </tr>
        <tr>
          <th class="detail-item">開始時間</th>
          <td class="detail-value"><%= @room.htime.name %><%= @room.mtime.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <a href="#" class="another-item"><%= "商品のカテゴリー名" %>をもっと見る</a>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
</div>

<%= render "shared/footer" %>
